@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.anventa_font {
  font-family: "Advent Pro", sans-serif;
}

.swiper-pagination {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-container {
  overflow: visible;
}

.custom-pagination {
        border: 1px solid red;
        height: auto;
      }

.custom-dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-dot.active {
  background-color: #007aff;
}
